{% set data = data ? data : molecules.person_text %}

<div class="m-person-text">
  <h4 class="h-h4 m-person-text__name">{{ data.name }}</h4>
  <p class="m-person-text__title">{{ data.title }}</p>
  <div class="m-person-text__description">
    {{ data.description | raw }}
    {% if data.opt_link %}
      <a class="m-person-text__link" href="{{ data.opt_link.url }}" target={{ data.opt_link.target }}>{{ data.opt_link.name }}</a>
    {% endif %}
  </div>
  {% if data.twitter or data.linkedin or data.email %}
    <ul class="m-person-text__social-items">
      {% if data.twitter %}
        <li class="m-person-text__social-item">
          <a class="m-person-text__social-link" href="{{ data.twitter }}" target="_blank">
            {% include "a-icon.twig" with { data: { name: 'twitter', title: 'twitter' } } %}
          </a>
        </li>
      {% endif %}
      {% if data.linkedin %}
        <li class="m-person-text__social-item">
          <a class="m-person-text__social-link" href="{{ data.linkedin }}" target="_blank">
            {% include "a-icon.twig" with { data: { name: 'linkedin', title: 'linkedin' } } %}
          </a>
        </li>
      {% endif %}
      {% if data.email %}
        <li class="m-person-text__social-item">
          <a class="m-person-text__social-link" href="mailto:{{ data.email }}" target="_blank">
            {% include "a-icon.twig" with { data: { name: 'email', title: 'email' } } %}
          </a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
</div>
