<a href="{{ post.url }}" class="m-post-card">
  <img class="m-post-card__image" src="{{ post.image.post_thumb }}" alt="{{ post.image.alt }}">
  <div class="m-post-card__content">
    <p class="m-post-card__date">{{ post.date }}</p>
    <p class="m-post-card__title">{{ post.title }}</p>
    <p class="m-post-card__text">{{ post.excerpt }}</p>
    <p class="m-post-card__author">{{ post.author }}</p>
  </div>
</a>
