{% set data = data ? data : molecules.testimonial_card %}

<div class="m-testimonial-card">
  <div class="m-testimonial-card__content">
    <img class="m-testimonrial-card__image" src="{{ data.image.full }}" alt="{{ data.image.alt }}">
    <p class="m-testimonrial-card__text">&ldquo;{{ data.text }}&rdquo;</p>
    <p class="m-testimonrial-card__name">{{ data.name }}</p>
    <p class="m-testimonrial-card__title">{{ data.title }}</p>
  </div>
</div>
