{% include "o-call-to-action.twig" with { data: footer.call_to_action, class: 'h-pt-lg h-pb-lg' } %}

{% include "o-subscribe.twig" with { data: footer.subscribe, class: 'h-pt-lg h-pb-lg' } %}

<div class="container">
  <div class="row">
    <div class="col-12">

      <footer class="l-footer">

        <div class="l-footer__column">
          <a class="l-footer__logo-link" href="{{ site.url }}">
            <img src="{{ site.logo.src }}" alt="{{ site.logo.alt }}">
          </a>
          <p>{{ footer.copyright | raw }}</p>
        </div>

        <div class="l-footer__column">
          <p class="l-footer__heading">{{ footer.sitemap_text }}</p>
          <ul>
            {% for item in menus.footer.items %}
              <li>
                <a class="l-footer__link" href="{{ item.url }}" target="{{ item.target }}">{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="l-footer__column">
          <p class="l-footer__heading">{{ footer.contact.heading }}</p>
          <ul>
            <li>
              <a class="l-footer__link" href="mailto:{{ footer.contact.email }}">{{ footer.contact.email }}</a>
            </li>
            <li>
              <a class="l-footer__link" href="tel:1-{{ footer.contact.phone }}">{{ footer.contact.phone }}</a>
            </li>
          </ul>
        </div>

        <div class="l-footer__column">
          <p class="l-footer__heading">{{ footer.social.heading }}</p>
          <ul>
            {% for item in footer.social.items %}
              <li>
                <a class="l-footer__link" href="{{ item.url }}" target="_blank">{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="l-footer__column">
          <ul>
            {% for item in footer.terms %}
              <li>
                <a class="l-footer__link" href="{{ item.url }}">{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

      </footer>

    </div>
  </div>
</div>
