{% set data = data ? data : organisms.four_column_image_text %}

<section class="o-four-column-image-text {{ class }}">
  <div class="container">
    <div class="row">

      <div class="col-12">
        {% if data.opt_heading %}
          <h2 class="h-h2 h-mb-xxs">{{ data.opt_heading }}</h2>
          {% include "a-hr.twig" %}
        {% endif %}
        {% if data.opt_text %}
          <h4 class="h-h4 h-mt-xxs h-mb-tiny@sm">{{ data.opt_text }}</h4>
        {% endif %}
      </div>

      {% for item in data.items %}
        <div class="col-lg-3 col-sm-6 h-mt-sm">
          <div class="o-four-column-image-text__item">
            <div class="o-four-column-image-text__image" style="background-image: url('{{ item.image.small_square }}');"></div>
            <h4 class="h-h4">{{ item.heading }}</h4>
            <p>{{ item.text }}</p>
          </div>
        </div>
      {% endfor %}

    </div>

    <div class="row">

      {% if data.opt_button %}
        <div class="o-four-column-image-text__button">
          {%
            include "a-button.twig"
            with {
              data: {
                style: 'light',
                url: data.opt_button.url,
                target: data.opt_button.target,
                name: data.opt_button.name
              }
            }
          %}
        </div>
      {% endif %}

    </div>

  </div>
</section>
